* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url("assets/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #0f2815;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}
.btn:hover {
  color: #000;
}

header {
  height: 150px;
}

header img {
  width: 180px;
}

.center {
  display: grid;
  /* align-items: center;*/
}

.search {
  height: 100px;
}

.center .logo {
  align-self: center;
  justify-self: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
}
.center section {
  margin-top: 20px;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
}
input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

::placeholder {
  color: #0f2815;
  opacity: 0.7;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 298px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card-back li {
  list-style: none;
  padding-bottom: 10px;
}

.loader {
  width: 400px;
  height: 200px;
  margin: auto;
  display: block;
}
/* listStyles */

.card-header ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card-header li .nav-link {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  opacity: 0.6;
}

.card-header ul li .nav-link {
  padding-bottom: 3px;
}
.card-header li .activa {
  opacity: 1;
  border-bottom: 2px solid #e62429;
}

.activa:hover {
  cursor: pointer;
  color: #ffffff;
}

li .nav-link:hover:not(.activa) {
  cursor: pointer;
  border-bottom: 2px solid #e62429;
  color: #ffffff;
  opacity: 1;
}

/* episodes,deaths ,quotes*/
.deaths,
.episodes {
  background: rgb(21, 58, 30);
  background: linear-gradient(
    252deg,
    rgba(21, 58, 30, 1) 1%,
    rgba(0, 0, 0, 1) 13%,
    rgba(1, 4, 2, 1) 53%,
    rgba(21, 58, 30, 1) 92%
  );
  border: 1px solid #fff;
}
.quotes {
  background-color: #153a1e;
}

figure blockquote {
  display: flex;
  flex-direction: row;
  text-align: justify;
  height: 80%;
  border: 1px solid #fff;
}
blockquote {
  border-radius: 5px;
}
blockquote p {
  padding: 15px;
  background: #153a1e;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

/* pagination */

.pageNumbers {
  margin: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid #0f2815;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: white;
  color: black;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: white;
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}

.loadMore {
  text-align: center;
  margin-bottom: 1rem;
}

.Error {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  ::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  li .nav-link {
    margin-top: 20px;
    padding: 8px 12px;
  }
  .center .logo {
    margin-top: 10px;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .center section {
    margin-top: 10px;
    margin-bottom: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  ::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .center .logo {
    margin-top: 10px;
    justify-self: center;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .card-header li .nav-link {
    padding: 4px 6px;
  }
  ::placeholder {
    font-size: 14px;
  }
}
